@import url('https://fonts.googleapis.com/css2?family=spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Spartan', sans-serif;
}

.background {
    background-image: url('../Images/bg.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    filter: blur(5px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.logo {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#main-content {
    padding: 50px 0;
    background-color: transparent;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.container-wrapper {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.content {
    text-align: center;
}

#main-content h1 {
    font-size: 36px;
    margin-bottom: 100px;
    margin-top: 20px;
    color: #f9f9f9;
}

#main-content h2 {
    font-size: 24px;
}

#main-content p {
    margin-bottom: 20px;
}

.content-box {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 100px 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.input-container select,
.input-container input[type="number"],
.input-container input[type="text"] {
    padding: 10px;
    width: 100%; /* Set width to 100% to expand from both sides */
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.input-container button[type="submit"] {
    padding: 8px 16px; /* Adjust padding to make the button smaller */
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.input-container button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Add margin between h2 and p */
.content-box h2,
.content-box p {
    margin-bottom: 15px;
}
